apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: P1809F7CD0C75ACF3
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    isDefault: false
